sipros.wsdl

<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="urn:bdi.com.sipros:AttiImpeditivi" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_attiImpeditiviSipros_Out" targetNamespace="urn:bdi.com.sipros:AttiImpeditivi">
	<WL5G3N0:documentation>c44abc52a0d611efc2390000023e1bae3c606911a0d311ef991d0000023e1baec41e2a4aa0d611ef85f40000023e1bae54f8bd9da0d311efaf7c0000023e1bae049b6255a0d411ef9e11f439091b22d2e249c121a0d411efb2cef439091b22d2e249b1a2a0d411efcdd4f439091b22d2e249b1a3a0d411efb03cf439091b22d2e249c120a0d411efbd43f439091b22d2e249c11fa0d411efc13af439091b22d2e249c11da0d411efb7eaf439091b22d2e249c11ea0d411efc7bff439091b22d2e249c124a0d411ef89bff439091b22d2e249c122a0d411efad57f439091b22d2e249c123a0d411ef97faf439091b22d2</WL5G3N0:documentation>
	<wsp:UsingPolicy WL5G3N0:Required="true"/>
	<WL5G3N0:types>
		<xsd:schema xmlns="urn:bdi.com.sipros:AttiImpeditivi" xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N3="urn:bdi.com.sipros:AttiImpeditivi" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:p1="urn:bdi.com.sipros:AttiImpeditivi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:bdi.com.sipros:AttiImpeditivi">
			<xsd:element name="MT_attiImpeditiviSipros" type="DT_attiImpeditiviSipros"/>
			<xsd:element name="FT_attiImpeditiviSiprosFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MT_attiImpeditiviSiprosResponse" type="DT_attiImpeditiviSiprosResponse"/>
			<xsd:complexType name="ExchangeLogData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">c44abc52a0d611efc2390000023e1bae</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="severity" type="xsd:string"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element minOccurs="0" name="url" type="xsd:string"/>
					<xsd:element minOccurs="0" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_attiImpeditiviSipros">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">3c606911a0d311ef991d0000023e1bae</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="listaCodiciIndividuali">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="codiceIndividuale" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">c41e2a4aa0d611ef85f40000023e1bae</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_attiImpeditiviSiprosResponse">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">54f8bd9da0d311efaf7c0000023e1bae</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="listaCodiciIndividuali">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">049b6255a0d411ef9e11f439091b22d2</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="codice">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">e249c121a0d411efb2cef439091b22d2</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="codiceIndividuale" type="xsd:string">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">e249b1a2a0d411efcdd4f439091b22d2</xsd:appinfo>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="esito" type="xsd:string">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">e249b1a3a0d411efb03cf439091b22d2</xsd:appinfo>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="listaStrutture">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">e249c120a0d411efbd43f439091b22d2</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="struttura">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">e249c11fa0d411efc13af439091b22d2</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="codice" type="xsd:string">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">e249c11da0d411efb7eaf439091b22d2</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">e249c11ea0d411efc7bff439091b22d2</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="errore">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">e249c124a0d411ef89bff439091b22d2</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="esito" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">e249c122a0d411efad57f439091b22d2</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">e249c123a0d411ef97faf439091b22d2</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="MT_attiImpeditiviSipros">
		<WL5G3N0:documentation> OSB Service </WL5G3N0:documentation>
		<WL5G3N0:part element="WL5G3N1:MT_attiImpeditiviSipros" name="MT_attiImpeditiviSipros"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="MT_attiImpeditiviSiprosResponse">
		<WL5G3N0:documentation> OSB Service </WL5G3N0:documentation>
		<WL5G3N0:part element="WL5G3N1:MT_attiImpeditiviSiprosResponse" name="MT_attiImpeditiviSiprosResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="FT_attiImpeditiviSiprosFault">
		<WL5G3N0:documentation> OSB Service </WL5G3N0:documentation>
		<WL5G3N0:part element="WL5G3N1:FT_attiImpeditiviSiprosFault" name="FT_attiImpeditiviSiprosFault"/>
	</WL5G3N0:message>
	<WL5G3N0:portType name="SI_attiImpeditiviSipros_Out">
		<WL5G3N0:documentation> OSB Service </WL5G3N0:documentation>
		<WL5G3N0:operation name="SI_attiImpeditiviSipros_Out">
			<WL5G3N0:documentation> OSB Service </WL5G3N0:documentation>
			<WL5G3N0:input message="WL5G3N1:MT_attiImpeditiviSipros"/>
			<WL5G3N0:output message="WL5G3N1:MT_attiImpeditiviSiprosResponse"/>
			<WL5G3N0:fault message="WL5G3N1:FT_attiImpeditiviSiprosFault" name="FT_attiImpeditiviSiprosFault"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="SI_attiImpeditiviSipros_OutBinding" type="WL5G3N1:SI_attiImpeditiviSipros_Out">
		<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WL5G3N0:operation name="SI_attiImpeditiviSipros_Out">
			<WL5G3N2:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
			<WL5G3N0:input>
				<WL5G3N2:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal"/>
			</WL5G3N0:output>
			<WL5G3N0:fault name="FT_attiImpeditiviSiprosFault">
				<WL5G3N2:fault name="FT_attiImpeditiviSiprosFault" use="literal"/>
			</WL5G3N0:fault>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="SI_attiImpeditiviSipros_OutBindingQSService">
		<WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
		<WL5G3N0:port binding="WL5G3N1:SI_attiImpeditiviSipros_OutBinding" name="SI_attiImpeditiviSipros_OutBindingQSPort">
			<WL5G3N2:address location="null/osb/SAP/px/SI_attiImpeditiviSipros_Out_px"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>